[submodule "packages/modules/Vune"]
	path = packages/modules/Vune
	url = https://github.com/kyooni18/Vune.git
[submodule "packages/modules/o0o0o"]
	path = packages/modules/o0o0o
	url = https://github.com/kyooni18/o0o0o.git
