/* SPDX-License-Identifier: AGPL-3.0-only */
.mk-vune-plain-mfm--nowrap {
	white-space: nowrap;
}

.mk-vune-plain-mfm__emoji {
	height: 1.25em;
	vertical-align: -0.25em;
}

.mk-vune-plain-mfm__emoji--custom {
	height: 1.25em;
	vertical-align: -0.25em;
	object-fit: contain;
}
