/* SPDX-License-Identifier: AGPL-3.0-only */

.mk-vune-paging-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.mk-vune-paging-buttons__button {
	border-radius: 9999px;
	min-width: 2.5em;
	min-height: 2.5em;
	max-width: 2.5em;
	max-height: 2.5em;
	padding: 4px;
}

.mk-vune-paging-buttons__buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.mk-vune-paging-buttons__head-tail {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.mk-vune-paging-buttons__dots {
	font-size: 0.75em;
}
