/* SPDX-License-Identifier: AGPL-3.0-only */

.mk-vune-foldable-section {
	position: relative;
}

.mk-vune-foldable-section__header {
	display: flex;
	position: relative;
	z-index: 10;
	position: sticky;
	top: var(--MI-stickyTop, 0px);
	-webkit-backdrop-filter: var(--MI-blur, blur(8px));
	backdrop-filter: var(--MI-blur, blur(20px));
	background-color: color(from var(--mk-vune-parent-bg, var(--bg)) srgb r g b / 0.85);
}

.mk-vune-foldable-section__title {
	display: grid;
	place-content: center;
	margin: 0;
	padding: 12px 16px 12px 0;
}

.mk-vune-foldable-section__divider {
	flex: 1;
	margin: auto;
	height: 1px;
	background: var(--MI_THEME-divider);
}

.mk-vune-foldable-section__button {
	padding: 12px 0 12px 16px;
}

@container (max-width: 500px) {
	.mk-vune-foldable-section__title {
		padding: 8px 10px 8px 0;
	}
}
