/*
 * SPDX-FileCopyrightText: syuilo and misskey-project
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.mk-vune-preview-controls {
	container-type: inline-size;
	height: 100%;
}

.mk-vune-preview-controls__container {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 400px;
}

.mk-vune-preview-controls__preview {
	position: relative;
	background-color: var(--MI_THEME-bg);
	background-image: linear-gradient(135deg, transparent 30%, var(--MI_THEME-panel) 30%, var(--MI_THEME-panel) 50%, transparent 50%, transparent 80%, var(--MI_THEME-panel) 80%, var(--MI_THEME-panel) 100%);
	background-size: 20px 20px;
}

.mk-vune-preview-controls__preview-content {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: clip;
}

.mk-vune-preview-controls__loading {
	position: absolute;
	inset: 0;
	background-color: color(from var(--MI_THEME-panel) srgb r g b / 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.mk-vune-preview-controls__preview--animated {
	animation: mk-vune-preview-controls-bg 1.2s linear infinite;
}

@keyframes mk-vune-preview-controls-bg {
	0% { background-position: 0 0; }
	100% { background-position: -20px -20px; }
}

.mk-vune-preview-controls__controls {
	overflow-y: scroll;
}

@container (max-width: 800px) {
	.mk-vune-preview-controls__container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}
