/* SPDX-License-Identifier: AGPL-3.0-only */

.mk-vune-role-preview {
	display: flex;
	align-items: center;
}

.mk-vune-role-preview__icon {
	margin: 0 12px;
}

.mk-vune-role-preview__body {
	display: block;
	padding: 16px 20px;
	flex: 1;
	border-left: solid 6px var(--color);
}

.mk-vune-role-preview__body-title {
	display: flex;
}

.mk-vune-role-preview__body-icon {
	margin-right: 8px;
}

.mk-vune-role-preview__body-badge {
	height: 1.3em;
	vertical-align: -20%;
}

.mk-vune-role-preview__body-name {
	font-weight: bold;
}

.mk-vune-role-preview__body-users {
	margin-left: auto;
	opacity: 0.7;
}

.mk-vune-role-preview__body-description {
	opacity: 0.7;
	font-size: 85%;
}
