/* SPDX-License-Identifier: AGPL-3.0-only */
.mk-vune-user-card-mini__avatar {
	display: block;
	width: 34px;
	height: 34px;
	margin-right: 12px;
}
.mk-vune-user-card-mini__body {
	flex: 1;
	overflow: hidden;
	font-size: .9em;
	color: var(--MI_THEME-fg);
	padding-right: 8px;
}
.mk-vune-user-card-mini__name,
.mk-vune-user-card-mini__sub {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mk-vune-user-card-mini__name { line-height: 18px; }
.mk-vune-user-card-mini__sub { font-size: 95%; opacity: .7; line-height: 16px; }
.mk-vune-user-card-mini__chart { height: 30px; }
